.heading {
  font-family: 'Londrina Solid';
  font-size: 40px;
  margin: 0 !important;
}

.generateBtn {
  max-width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: var(--brand-color-blue);
  border: var(--brand-color-blue);
}
.generateBtn:focus,
.generateBtn:hover {
  background-color: var(--brand-color-blue) !important;
  box-shadow: 0 0 0 0.2rem rgba(50, 24, 217, 0.75);
}
.generateBtn:active {
  background-color: var(--brand-color-blue) !important;
}

.generateBtnDisabled {
  max-width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: #f4f4f8;
  border: #f4f4f8;
  color: #8c8d92;
  border: 1px solid #e2e3e8;
}
.generateBtnDisabled:focus,
.generateBtnDisabled:hover,
.generateBtnDisabled:active {
  cursor: not-allowed;
  background-color: #f4f4f8 !important;
  border: #f4f4f8 !important;
  color: #8c8d92 !important;
  border: 1px solid #e2e3e8 !important;
  outline: none;
  box-shadow: none;
}

.ideaLink {
  cursor: pointer;
  padding: 1rem;
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e2e3e8;
  box-sizing: border-box;
  border-radius: 16px;
  background: #f4f4f8;
  font-size: 22px;
  font-family: 'PT Root UI';
  font-weight: bold;
  flex-direction: column;
}

.ideaLink:hover {
  background: white;
  cursor: pointer;
}

.markdown h1 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.3rem;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.nullStateCopy {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  margin-right: 1rem;
  font-family: 'PT Root UI';
  font-weight: 500;
  color: var(--brand-gray-light-text);
  font-size: 16px;
  line-height: 22.4px;
}

@media (max-width: 992px) {
  .nullStateCopy {
    margin-top: 0rem;
  }

  .ideaTitle {
    word-wrap: break-word;
    min-width: 65%;
  }
}

.nullBtnWrapper {
  min-width: 10rem;
}

.ideaId {
  color: #8c8d92;
  margin-right: 0.5rem;
}

.ideaTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
}

.ideaStatusWrapper {
  margin-left: 0.5rem;
}

.submitIdeaButtonWrapper {
  text-align: right;
  padding-top: 0.8rem;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.sortFilter {
  display: flex;
  width: fit-content;
}

.sortLabel {
  white-space: nowrap;
  align-self: center;
  padding-right: 8px;
  color: #8c8d92;
  font-weight: bold;
}

.titleSpan {
  display: flex;
  flex: 1;
}

.likeSpan {
  font-family: 'PT Root UI';
  color: var(--brand-gray-light-text);
}

.linkDiscourse {
  white-space: pre-wrap;
  justify-content: end;
  align-self: flex-end;
  color: var(--brand-color-blue);
}

.metaData {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  font-family: 'PT Root UI';
  font-size: 16px;
}

.userDetails {
  display: flex;
  flex: 1 1;
  color: var(--brand-color-blue);
}

.tldr {
  background: white;
  padding: 8px;
  font-size: 15px;
  font-family: 'PT Root UI';
  font-weight: 500;
  color: var(--brand-gray-light-text);
  font-size: 16px;
  line-height: 22.4px;
  border-radius: 10px;
  white-space: pre-wrap;
  margin: 8px 0;
}
