.section {
  word-wrap: break-word;
  padding-top: 2rem;
  margin-top: 2rem;
}

.section h5 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-family: 'Londrina Solid';
}

.markdown {
  font-family: 'PT Root UI';
  font-size: 1.1rem;
}

.markdown h1 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.governanceSwitchBtn {
  max-width: 10rem;
  font-size: 16px;
  font-weight: bold;
  color: #8C8D92;
  margin-bottom: 0.5rem;
  margin-right: 8px;

  border-radius: 32.5px;
  background-color: #FFFFFF;
  border: 2px solid #E2E3E8;
  height: 43px;
  width: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
}

.governanceSwitchBtnActive{
  max-width: 10rem;
  font-size: 16px;
  font-weight: bold;
  color: #8C8D92;
  margin-bottom: 0.5rem;
  margin-right: 8px;

  border-radius: 32.5px;
  background-color: #FFFFFF;
  height: 43px;
  width: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;

  color: #14161b;
  border: 2px solid var(--brand-color-blue);
}

.governanceSwitchBtn2 {
  max-width: 10rem;
  font-size: 16px;
  font-weight: bold;
  color: #8C8D92;
  border: 2px solid var(--brand-color-blue);
  margin-bottom: 0.5rem;

  border-radius: 32.5px;
  background-color: #FFFFFF;
  border: 2px solid #E2E3E8;
  height: 43px;
  width: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
}

.governanceSwitchBtn2Active {
  max-width: 10rem;
  font-size: 16px;
  font-weight: bold;
  color: #8C8D92;
  border: 2px solid var(--brand-color-blue);
  margin-bottom: 0.5rem;

  border-radius: 32.5px;
  background-color: #FFFFFF;
  border: 2px solid #E2E3E8;
  height: 43px;
  width: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;

  color: #14161b;
  border: 2px solid var(--brand-color-blue);
}

.m-0 {
  margin: 0;
}

.txnInfoText {
  color: var(--brand-gray-light-text);
  margin-left: -0.1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.txnInfoIconWrapper {
  width: 25px;
  display: flex;
  align-items: center;
}

.txnInfoIcon {
  height: 18px;
  width: 18px;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .txnInfoText {
    align-items: flex-start;
    margin-top: 1rem;
  }

  .txnInfoIcon {
    margin-top: 0.25rem;
    margin-right: 0.5rem;
  }
}