.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
}

/* Stops the float property from affecting content after the columns */
.columns:after {
  content: "";
  display: table;
  clear: both;
}